body {
    padding: 0;
    margin: 0;
    background-color: #f1f3f7;
    overflow-x: hidden;
    cursor: pointer;
}
.el-carousel  {
    height: 100% !important;
    width: 100% !important;
}
.el-input__inner {
    border-radius: 20px;
}
.el-collapse {
    border: 0;
}
.el-collapse-item {
    margin: 0 !important;
}